<div class="jumbotron"  style="background-color:whitesmoke">
    <h1 class="display-4">Welkom!</h1>
    <p class="lead">Mijn naam is Ruben Ryckeghem, ik ben student aan Erasmus Hogeschool Brussel en ik studeer Multimedia en communicatietechnologie.</p>
    <hr class="my-4">
    <p>Op deze portfoliowebsite vind je mijn werken terug die ik de voorbije jaren heb verwezenlijkt. </p>
    <a routerLink="/works" routerLinkActive="active"><button class="btn btn-primary btn-lg" role="button" style="font-family: bebas">Check my works</button></a>
  </div>
  <mat-card class="test">
    <mat-card-content>
      <h1 class="titel" style="text-align:center">Here are some previews of my works.</h1>
      <!-- <img src="assets/rr.png" class="img-fluid" alt="Responsive image"> -->
  </mat-card-content>
  </mat-card>
  <mat-card class="test3">
      <mat-card-title style="font-family: bebas">Logo "I Love Paddo"</mat-card-title>
      <img mat-card-image src="assets/images/paddoStart.png">
      <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
  </mat-card>
  <mat-card class="test2">
      <mat-card-title style="font-family: bebas">Logo Pull skireis</mat-card-title>
      <img mat-card-image src="assets/images/logoski4.png">
      <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
  </mat-card>
  <mat-card class="test2">
      <mat-card-title style="font-family: bebas">Virtual Reality game</mat-card-title>
      <img mat-card-image src="assets/images/vrGame.png">
      <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
  </mat-card>
  <mat-card class="test2">
      <mat-card-title style="font-family: bebas">Webshop assignment</mat-card-title>
      <img mat-card-image src="assets/images/webshop.png">
      <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
  </mat-card>

  <mat-card class="aboutCard">
      <mat-card class="test" style="padding-top:0">
          <h1 class="titel">About me</h1>
          </mat-card>
    <mat-card-content><img src="assets/images/mezelf.png" style="width:10%"><br>
        
        Dag beste bezoeker en welkom op mijn portfoliowebsite. Mijn naam is Ruben Ryckeghem, ik ben 24 Jaar en
        ik studeer aan Erasmus Hogeschool Brussel, nl. Multimedia en communicatietechnologie. Mijn afstudeerrichting
        is App & Web, de naam zegt het eigenlijk al zelf, de focus ligt voornamenlijk op het programmeren van Apps
        en websites. Natuurlijk is dit niet het enige wat ik doe, als je graag meer te weten wil komen over wie ik ben
        en waar ik mij zoal mee bezig hou, kan je dit terugvinden op de about pagina.
        
        <br><br>
      <a routerLink="/about" routerLinkActive="active">More</a>
    </mat-card-content>
    </mat-card>
