<footer>
    <mat-card class="footer">
    <mat-card class="footerCard">
      <mat-card-title style="color:white">Follow me on:</mat-card-title>
      <a href="https://www.facebook.com/ruben.ryckeghem">Facebook</a><br>
      Instagram<br>
      <a class="footerLink" href="https://www.linkedin.com/in/ruben-ryckeghem-0429b0134/">LinkedIn</a><br>
    </mat-card>
    <mat-card class="footerCard" style="text-align:center">
        <mat-card-title style="color:white">Contact:</mat-card-title>
        TestFooter<br>
        TestFooter<br>
        TestFooter<br>
      </mat-card>
      <mat-card class="footerCard" style="text-align:right">
          <mat-card-title style="color:white">Follow me on:</mat-card-title>
          TestFooter<br>
          TestFooter<br>
          TestFooter<br>
        </mat-card>d
    </mat-card>
  </footer>