.worksCard{
    float: left;
    /* background: whitesmoke; */
    width: 90%;
    color: #222629;
    background-color: white;
    padding: 1%;
    margin: 2% 5% 0 5%;
    border-radius: 5px;
    height: 10%;
}
.aparteCardImg{
    width: 25%;
    float: left;
    border-radius: 0;
    padding: 0 1% 0 0;
}
.aparteCard{
    font-size: 1vw;
    width: 75%;
    float: left;
    border-radius: 0;
    padding: 0 1% 0 0;
}
mat-card img{
    object-fit: cover; /*this makes de image in src fit to the size of specified below*/
    width: 100%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  }

mat-card h2{
    color: #87BD2B;
    font-family: bebas;
    font-size: 1.5vw;
}
