<mat-card class="aboutCard">
    <h2 style="color:#87BD2B; margin-bottom: 1%">Who am i?</h2>
    <mat-card class="aparteCard"><img src="assets/images/mezelf2.png">
      <p style="width:50%">Mijn naam is Ruben Ryckeghem, ik ben 24 Jaar en ik studeer aan Erasmus Hogeschool Brussel, nl. Multimedia en communicatietechnologie. Mijn afstudeerrichting is App & Web, de naam zegt het eigenlijk al zelf, de focus ligt voornamenlijk op het programmeren van Apps en websites.
      Natuurlijk is dit niet het enige dat ik geleerd heb op school. Het designen </p>
    </mat-card>
    <mat-card class="aparteCard">van apps, websites, logo's en andere dergerlijke dingen,
        wordt ons ook aangeleerd. Dit is één van mijn favoriete bezigheden, zowel binnen als buiten schoolverband.<br>
        De reden dat ik voor deze richting heb gekozen is dat het een richting is met gigantisch veel mogelijkheden
        naar de toekomst toe, er zijn heel wat bedrijven die opzoek zijn naar mensen zoals mij. We kunnen in verschillende
        branches van het bedrijf worden ingeschakeld nl. programmeren, designen, user experience, consultancy,...<br>
        Een andere reden waarom ik deze richting heb gekozen is omdat het een zeer creatieve richting is en dat is namenlijk
        één van mijn betere eigenschappen. </mat-card>
        <hr>
    <mat-card class="aparteCard">Op dit moment ben ik een 3de jaarsstudent en zit ik nog steeds op het modeltraject.
      dit jaar wordt voornamenlijk de focus gelegd op een "Final Work" (bachelorproef) & het volgen van een 3 maandelijkse stage
      in het 2de semester. Voor beiden ben ik enorm gemotiveerd en kijk ik er naar uit om deze 2 takken succesvol te vervolledigen.
    </mat-card>
</mat-card>
<mat-card class="aboutCard2">
    <h2 class="quote">“Website without visitors is like a ship lost in the horizon.”<br> 
        ― Dr. Christopher Dayagdag</h2>
</mat-card>
<mat-card class="aboutCard">
    <h2 style="color:#87BD2B; margin-bottom: 1%">My hobby's & interests</h2>
    <hr style="margin-top:0">
    <mat-card class="aparteCard"><mat-card-title>Keeperen</mat-card-title><img src="assets/images/keeper.png">
      <p style="width:50%">Mijn naam is Ruben Ryckeghem, ik ben 24 Jaar en ik studeer aan Erasmus Hogeschool Brussel, nl. Multimedia en communicatietechnologie. Mijn afstudeerrichting is App & Web, de naam zegt het eigenlijk al zelf, de focus ligt voornamenlijk op het programmeren van Apps en websites.
      Natuurlijk is dit niet het enige dat ik geleerd heb op school. Het designen </p>
      <mat-card class="stukTekst">ldfjkl</mat-card>
    </mat-card>
    <mat-card class="aparteCard"><mat-card-title>Skiën</mat-card-title><img src="assets/images/ski.png">
      <p style="width:50%">Mijn naam is Ruben Ryckeghem, ik ben 24 Jaar en ik studeer aan Erasmus Hogeschool Brussel, nl. Multimedia en communicatietechnologie. Mijn afstudeerrichting is App & Web, de naam zegt het eigenlijk al zelf, de focus ligt voornamenlijk op het programmeren van Apps en websites.
      Natuurlijk is dit niet het enige dat ik geleerd heb op school. Het designen </p>
      <mat-card class="stukTekst">ldfjkl</mat-card>
    </mat-card>
    <hr>
    <mat-card class="aparteCard"><mat-card-title>Reizen</mat-card-title><img src="assets/images/travel.png">
      <p style="width:50%">Mijn naam is Ruben Ryckeghem, ik ben 24 Jaar en ik studeer aan Erasmus Hogeschool Brussel, nl. Multimedia en communicatietechnologie. Mijn afstudeerrichting is App & Web, de naam zegt het eigenlijk al zelf, de focus ligt voornamenlijk op het programmeren van Apps en websites.
      Natuurlijk is dit niet het enige dat ik geleerd heb op school. Het designen </p>
      <mat-card class="stukTekst">ldfjkl</mat-card>
    </mat-card>
    <mat-card class="aparteCard"><mat-card-title>Chiro</mat-card-title><img src="assets/images/chiro.png">
      <p style="width:50%">Mijn naam is Ruben Ryckeghem, ik ben 24 Jaar en ik studeer aan Erasmus Hogeschool Brussel, nl. Multimedia en communicatietechnologie. Mijn afstudeerrichting is App & Web, de naam zegt het eigenlijk al zelf, de focus ligt voornamenlijk op het programmeren van Apps en websites.
      Natuurlijk is dit niet het enige dat ik geleerd heb op school. Het designen </p>
      <mat-card class="stukTekst">ldfjkl</mat-card>
    </mat-card>
</mat-card>
<mat-card class="aboutCard2">
    <h2 class="quote">“If you're already a front-end developer, well, pretend you're also wearing a pirate hat.”<br> 
        ― Ethan Marcotte</h2>
</mat-card>